name: Run Python with Gunicorn and Uvicorn

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  run-python:
    runs-on: ubuntu-24.04

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.11

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Run Gunicorn with Uvicorn worker
      run: |
        gunicorn app:app -k uvicorn.workers.UvicornWorker --bind 0.0.0.0:5000
