name: Python Runner

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  run-python:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'  # You can change the version

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
        if: ${{ hashFiles('requirements.txt') != '' }}

      - name: Run Python script
        run: |
          python app.py
